<!-- Font Awesome -->
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="body-wrapper">

	<div class="loader">
		<div class="load-spin">

			<div class="fa-3x">
				<i class="fas fa-spinner fa-spin"></i>
			</div>

		</div>
	</div>

	<div class="head">
		<nav class="navbar navbar-expand-md navbar-light bg-light">
			<a class="navbar-brand" href="/user/profile"><img {{#if pic}} src="{{pic}}" {{else}} src="/images/avatar.png" {{/if}} width="40" height="40" class="d-inline-block align-top" alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
						<span class="tooltiptext">
							<div class="speech-bubble">Logout</div>
						</span>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/user/profile"><i class="fas fa-cogs"></i></a>
						<span class="tooltiptext">
							<div class="speech-bubble">Setting</div>
						</span>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/other/users"><i class="fas fa-users"></i></a>
						<span class="tooltiptext">
							<div class="speech-bubble">Users</div>
						</span>
					</li>
					<li class="nav-item active" id="search_btn">
						<a class="nav-link"><i class="fas fa-search"></i></a>
						<span class="tooltiptext">
							<div class="speech-bubble">Search</div>
						</span>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">
			{{#if success_msg}}
				<div id="errors" class="alert alert-success text-center" role="alert">{{success_msg}}</div>
			{{else if error}}
				<div id="errors" class="alert alert-danger text-center" role="alert">{{error}}</div>
			{{/if}}
			<form id="search_form">
				<div class="row">
					<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" id="search" name="search" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="containers">
		<div class="btn-group d-flex justify-content-center" id="sort-btn">
			<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Sort By
			</button>
			<div class="dropdown-menu">
				<div class="dropdown-item" value="date">Release Date</div>
				<div class="dropdown-item" value="title">Title</div>
				<div class="dropdown-item" value="vote-average">Rating</div>
			</div>
		</div>
		<div class="gala">
		</div>
	</div>
	<div class="container movie-desc">
		<div class="row justify-content-center align-items-center">
			<div class="box">
				<div class="cancel">
					<img style="width:100%;height:100%" src="/images/cancel.svg" id="cancel">
				</div>
				{{!-- <hr class="my-4 d-flex"> --}}

			</div>
			<a class="movie_link" href="">
				<div class="play_btn">
					<img src="/images/play_btn.svg" id="start_play">
				</div>
			</a>
			<div class="vid_desc text-center">
				<h1></h1>
				<p class="overview"></p>
			</div>
		</div>
	</div>
</div>
<nav aria-label="Page navigation example" class="pagi d-none">
	<ul class="pagination justify-content-center">
		<li class="page-item" value="prev">
			<a class="page-link" tabindex="-1">Prev</a>
		</li>
		<li class="page-item" value="next">
			<a class="page-link">Next</a>
		</li>
	</ul>
</nav>
<footer class="text-white mt-4">
	<div class="container-fluid py-3">
		<div class="row">
			<div class="col-md-3">
				<h5></h5>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>
		<div class="row">
			<div class="col-md-6">Credits<span class="small"><br>- Gareth Lategan <br>- Roelf Diedericks <br>- Roger Ndaba </span></div>
			<div class="col-md-3">cxx</div>
			<div class="col-md-3 text-right small align-self-end">©2018</div>
		</div>
	</div>
</footer>
<script>
	var i = 0;

	$('.back').on('click', function() {
		window.history.back();
	})

	function makeMovieCall(filter = 'none', page = '1') {
		var data = {};
		data.filter = filter;
		data.page = page;
		$.ajax({
			type: 'POST',
			data: JSON.stringify(data),
			contentType: 'application/json',
			url: '/movie/default',
			success: function(res) {
				window.location.href = "#";
				$('footer').removeClass('d-none');
				$('.pagi').removeClass('d-none');
				$('.gala').html(res);
			}
		});
	}

	function func(e) {
		var year = $(e).find($('.year')).html(),
			title = $(e).find($('.movie-title')).html();
		var data = {};
		data.title = title;
		$.ajax({
			type: 'POST',
			data: JSON.stringify(data),
			contentType: 'application/json',
			url: '/movie/info',
			success: function(res) {
				$('.box').css({
					'background-image': 'url("https://image.tmdb.org/t/p/w1280' + res.backdrop_path + '")'
				})

				$('.movie-desc').css({
					'display': 'block',
				});

				$('#search_form').css({
					'display': 'none',
				});

				$('.head').css({
					'height': '100%'
				});

				if (window.matchMedia('(max-width: 500px)').matches) {
					$('.movie-desc').css({
						'width': '95%',
						'height': '500px'
					});
				} else {
					$('.movie-desc').css({
						'width': '70vw',
						'height': 'auto'
					});
				}

				$('.overview').html(res.overview);

				$('.vid_desc').find('h1').html(res.title);
				var url = 'title=' + res.title +
					'&poster=' + res.backdrop_path +
					'&mdbID=' + res.id +
					'&desc=' + res.overview +
					'&year=' + res.release_date.substring(0, 4);
				var newUrl = Base64.encode(url);

				$('.movie_link').attr('href', '/video?info=' + newUrl);
			}
		});
	}

	function disable() {
		$(window).on('wheel.impair', function() {
			return false;
		});
	}

	function enable() {
		$(window).off('wheel.impair');
	}

	$(document).ajaxStart(function() {
		$('.loader').css({
			'display': 'block'
		})
		disable();
	}).ajaxStop(function() {
		$('.loader').css({
			'display': 'none'
		})
		enable();
	});


	$('document').ready(function() {
		var page = 1;

		$('.page-item').on('click', function() {
			if ($(this).attr('value') == "prev" && page > 1) {
				page -= 1;
				makeMovieCall('none', '' + page);
			} else if ($(this).attr('value') == "next") {
				page += 1;
				makeMovieCall('none', '' + page);
			}
		})

		$('.dropdown-item').on('click', function() {
			makeMovieCall('' + $(this).attr('value'), '' + page);
		})

		setInterval(function() {
			$('.alert').fadeOut();
		}, 2000);

		makeMovieCall();

		$('#search_btn').on('click', function() {
			if (i == 0) {
				$('#search_form').css({
					'display': 'block',
				});
				$('.head').css({
					'height': '124px',
				});
				$('.btn-group').css({
					'padding-top': '109px',
					'transition': 'none'
				})
				$('.btn-group>.btn:first-child').css({
					'display': 'none',
				})
				i = 1;
			} else {
				$('#search_form').css({
					'display': 'none',
				});
				$('.head').css({
					'height': '0px',
				});
				$('.btn-group').css({
					'padding-top': '80px',
					'transition': 'none'
				})
				$('.btn-group>.btn:first-child').css({
					'display': 'block',
				})
				i = 0;
			}
		});

		$('#search_form').css({
			'display': 'none',
			'transition': '600ms',
		});

		$('.head').css({
			'height': '0px',
		});

		$('#cancel').on('click', function() {
			$('.movie-desc').css({
				'display': 'none',
			});
			$('.head').css({
				'height': '0px',
			});
			$('.movie-desc').css({
				'width': '0',
				'height': '0'
			});
			$('.btn-group').css({
				'padding-top': '80px',
				'transition': 'none'
			});
			$('.btn-group>.btn:first-child').css({
				'display': 'block',
			});
			i = 0;
		})

		document.getElementById("search").addEventListener("input", function() {
			if ($('#search').val() === '') {
				makeMovieCall();
			} else {
				var data = {};
				data.search = $('#search').val();
				$.ajax({
					type: 'POST',
					data: JSON.stringify(data),
					contentType: 'application/json',
					url: '/movie/search',
					success: function(res) {
						$('.gala').html(res);
					}
				});
			}
		});
	});
</script>