<link rel="stylesheet" href="/stylesheets/user_profile.css">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
 crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/croppie.css" />
<script src="/javascripts/croppie.js"></script>
<div class="head">
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active" style='float:right;'>
					<a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
					<span class="tooltiptext">
						<div class="speech-bubble">Logout</div>
					</span>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/other/users"><i class="fas fa-users"></i></a>
					<span class="tooltiptext">
						<div class="speech-bubble">Users</div>
					</span>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/home"><i class="fas fa-home"></i></a>
					<span class="tooltiptext">
						<div class="speech-bubble">Home</div>
					</span>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div class="col-lg-6 col-sm-6">
	<div class="card hovercard">
		<div class="back">
			<i class="fas fa-arrow-left"></i>
		</div>
		<div class="useravatar">
			<img id="profile_img" alt="" {{#if pic}} src="{{pic}}" {{else}} src="/images/avatar.png" {{/if}}>
		</div>
		<div class="card-info"> 
			<span class="card-title"> 
				&nbsp {{#ifCond firstname '&&' lastname}} {{firstname}} {{lastname}}
				{{/ifCond}}
			</span>
		</div>
	</div>
	<div class="middle-card card text-center">
		{{#if errors}}
			<div id="errors" class="alert alert-danger" role="alert">
				{{#each errors}}
					<li class="err_li">{{this.msg}}</li>
				{{/each}}
			</div>
		{{/if}}
		{{#if success_msg}}
			<div id="errors" class="alert alert-success" role="alert">
				{{success_msg}}
			</div>
		{{/if}}
		<div id="err_msg" style="display:none" class="alert alert-danger" role="alert"></div>
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="watched nav-item nav-link active">
					watched movies
				</li>
				<li class="upadate-profile nav-item nav-link">
					upadate profile
				</li>
			</ul>
		</div>
		<div class="card-body">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto the-form" style="display:none">
				<form id="form" class="form-signin">
					<div class="avatar-cont text-center">
						<img {{#if pic}} src="{{pic}}" {{/if}} alt="Avatar" class="avatar">
						<i class="fas fa-plus plus"></i>
						<input type="file" name="pic" accept="image/*" style="display:none;">
					</div>
					<hr class="my-4">
					<input type="text" style="display:none" value="English" id="language">
					<div class="dropdown">
						<button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
						 aria-haspopup="true" aria-expanded="false">
							Preferred Language
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item">English</a>
							<a class="dropdown-item">Albanian</a>
							<a class="dropdown-item">Arabic</a>
							<a class="dropdown-item">Bengali</a>
							<a class="dropdown-item">Bulgarian</a>
							<a class="dropdown-item">Chinese</a>
							<a class="dropdown-item">Croatian</a>
							<a class="dropdown-item">Czech</a>
							<a class="dropdown-item">Danish</a>
							<a class="dropdown-item">Dutch</a>
							<a class="dropdown-item">Estonian</a>
							<a class="dropdown-item">Persian</a>
							<a class="dropdown-item">Finnish</a>
							<a class="dropdown-item">French</a>
							<a class="dropdown-item">German</a>
							<a class="dropdown-item">Modern Greek</a>
							<a class="dropdown-item">Hebrew</a>
							<a class="dropdown-item">Hungarian</a>
							<a class="dropdown-item">Indonesian</a>
							<a class="dropdown-item">Italian</a>
							<a class="dropdown-item">Japanese</a>
							<a class="dropdown-item">Korean</a>
							<a class="dropdown-item">Lithuanian</a>
							<a class="dropdown-item">Macedonian</a>
							<a class="dropdown-item">Malay</a>
							<a class="dropdown-item">Norwegian</a>
							<a class="dropdown-item">Polish</a>
							<a class="dropdown-item">Portuguese</a>
							<a class="dropdown-item">Romanian</a>
							<a class="dropdown-item">Russian</a>
							<a class="dropdown-item">Serbian</a>
							<a class="dropdown-item">Slovenian</a>
							<a class="dropdown-item">Spanish</a>
							<a class="dropdown-item">Swedish</a>
							<a class="dropdown-item">Thai</a>
							<a class="dropdown-item">Turkish</a>
							<a class="dropdown-item">Urdu</a>
							<a class="dropdown-item">Ukrainian</a>
							<a class="dropdown-item">Vietnamese</a>
						</div>
					</div>

					<!-- firstname -->

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" value="firstname" title="Edit firstname">
							</div>
 						</div>
						<input type="text" name="firstname" id="firstname" class="form-control" disabled="disabled" placeholder="firstname"
						 {{#if firstname}} value="{{firstname}}" {{/if}}>
					</div>

					<!-- lastname -->

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" value="lastname">
							</div>
						</div>
						<input type="text" name="lastname" id="lastname" class="form-control" disabled="disabled" placeholder="lastname"
						 {{#if lastname}} value="{{lastname}}" {{/if}}>
					</div>


					<!-- username -->

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" value="username">
							</div>
						</div>
						<input type="text" name="username" id="username" class="form-control" disabled="disabled" placeholder="username"
						 {{#if username}} value="{{username}}" {{/if}}>
					</div>

					<!-- email -->

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" value="email">
							</div>
						</div>
						<input type="email" name="email" id="email" disabled="disabled" class="form-control" placeholder="email"
						 {{#if email}} value="{{email}}" {{/if}}>
					</div>
					<meter max="5" id="strength" value="0"></meter>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" value="password">
							</div>
						</div>
						<input name="password1" type="password" id="password1" disabled="disabled" class="form-control" placeholder="password">
						<div class="bar"></div>
					</div>
					<div class="input-group">
						<span class="input-group-addon" style="width:39px;background-color:transparent;border:none;"></span>
						<input name="password2" type="password" id="password2" disabled="disabled" class="form-control" placeholder="confirm password">
					</div>
					<button id="submit" class="btn btn-lg btn-primary btn-block" type="button"> <span>save changes</span> </button>
					<a href="/home" class="btn-block"><button id="cancel" class="btn btn-lg btn-primary btn-block" type="button">
							<span>cancel</span> </button></a>
					<input type="text" style="display:none" name="" value="">
				</form>
			</div>
			<div class="card my-5 the-movies">
				{{#each movies}}
					<div class="watched-movie-card" style="background-image:url('{{this.poster}}')">
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<div class="col-lg-5 mx-auto crop-container text-center">
	<button class="btn btn-primary btn-crop" type="button" name="button">Done</button>
</div>
<script id="entry-template" type="text/x-handlebars-template">
	<div id="errors" class="alert alert-success" role="alert">
		\{{success_msg}}
	</div>
</script>
<script>
	var uploadCrop;
	uploadCrop = $('.crop-container').croppie({
		viewport: {
			width: 200,
			height: 200,
			type: 'square',
		},
		enableExif: true,
		showZoomer: false,
	});
	$('.dropdown-item').on('click', function() {
		$('.dropdown-toggle').html($(this).html()) ,
		$('#language').attr('value', $(this).html())
	})
	$('.nav-item').on('click', function () {
		$('.nav-item').removeClass('active');
		$(this).addClass('active');
		if ($(this).hasClass('upadate-profile')) {
			$('.the-form').css('display', 'block');
			$('.the-movies').css('display', 'none');
		} else {
			$('.the-form').css('display', 'none');
			$('.the-movies').css('display', 'block');
		}
	})
	$('.back').on('click', function () {
		window.history.back();
	})
	$('document').ready(function () {
		var arr = [];
		arr['firstname'] = '{{firstname}}';
		arr['lastname'] = '{{lastname}}';
		arr['username'] = '{{username}}';
		arr['email'] = '{{email}}';
		arr['pic'] = '{{pic}}';
		$('input:checkbox').on('click', function () {
			if ($(this).prop('checked')) {
				if ($(this).val() == 'password') {
					$('#' + $(this).val() + '1').attr('disabled', false);
					$('#' + $(this).val() + '2').attr('disabled', false);
				} else {
					$('#' + $(this).val()).attr('disabled', false);
				}
			} else {
				if ($(this).val() == 'password') {
					$('#' + $(this).val() + '1').attr('disabled', true);
					$('#' + $(this).val() + '2').attr('disabled', true);
					$('#' + $(this).val() + '1').val('');
					$('#' + $(this).val() + '2').val('');
				} else {
					$('#' + $(this).val()).attr('disabled', true);
					$('#' + $(this).val()).val(arr[$(this).val()]);
				}
			}
		})
		$('.form-control').on('input', function () {
			var track = 0;
			var firstname = $('#firstname').val(),
				lastname = $('#lastname').val(),
				username = $('#username').val(),
				email = $('#email').val(),
				p1 = $('#password1').val(),
				p2 = $('#password2').val(),
				tex = '';
			var reg = /^[a-z]+$/i;
			var regU = /^[a-z0-9_]+$/i;
			var regem = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			if (this.name === 'email' && email && email.match(regem)) {
				var data = {};
				data.email = this.value;
				$.ajax({
					type: 'POST',
					data: JSON.stringify(data),
					contentType: 'application/json',
					url: '/user/update/email',
					success: function (res) {
						if (res.toString() == 'taken') {
							$('#err_msg').css('display', 'block');
							$('#err_msg').html('email already taken');
						}
						track = 1;
					}
				});
			}
			if (this.name === 'username' && username && username.match(regU)) {
				var data = {};
				data.username = this.value;
				$.ajax({
					type: 'POST',
					data: JSON.stringify(data),
					contentType: 'application/json',
					url: '/user/update/username',
					success: function (res) {
						if (res.toString() == 'taken') {
							$('#err_msg').css('display', 'block');
							$('#err_msg').html('username already taken');
						}
						track = 1;
					}
				});
			}
			if (firstname && !firstname.match(reg))
				tex += '- only letters on firstname field<br>';
			if (lastname && !lastname.match(reg))
				tex += '- only letters on lastname field<br>';
			if (username && !username.match(regU))
				tex += '- only numbers, letters and underscore on username field<br>';
			if (email && !email.match(regem)) {
				tex += '- email should have formart login@domain.ext<br>';
			}
			if (p1 && p1.length < 6)
				tex += '- password too short<br>';
			var level = sMeter(p1, '#strength');
			if (p1 && level < 3)
				tex += '- password too weak: you can do better<br>';
			if (level == 3)
				tex += '- password still weak<br>';
			if (!(p1 == p2))
				tex += '- passwords don\'t match<br>';
			if (tex) {
				$('#err_msg').css('display', 'block');
			} else {
				$('#err_msg').css('display', 'none');
			}
			$('#err_msg').html(tex);
		});
		i = 0;
		$('#submit').on('click', function () {
			if (!$('#err_msg').html().trim()) {
				var dataJsn = {};
				dataJsn.lang = $('#language').val();
				if ($('.avatar').attr('src') != arr['pic']) {
					var key = 'pic';
					var value = $('.avatar').attr('src');
					dataJsn[key] = value;
				}
				$('input:checkbox').each(function () {
					if ($(this).prop('checked')) {
						if (this.value == 'password') {
							if ($($('#' + this.value + '1')).val() && $($('#' + this.value + '2')).val()) {
								var key = this.value;
								var value = $($('#' + this.value + '1')).val();
								dataJsn[key] = value;
							}
						} else {
							if ($($('#' + this.value)).val()) {
								var key = this.value;
								var value = $($('#' + this.value)).val();
								dataJsn[key] = value;
							}
						}
					}
				});
				if (Object.keys(dataJsn).length != 0) {
					$.ajax({
						type: 'POST',
						data: JSON.stringify(dataJsn),
						contentType: 'application/json',
						url: '/user/update',
						success: function (res) {
							var source = $('#entry-template').html();
							var template = Handlebars.compile(source);
							var htm = template({
								success_msg: "changes saved"
							});
							setTimeout(function (){
								$('.alert-success').fadeOut();
							}, 1000);
							$('.middle-card').prepend(htm);
							$('#profile_img').attr('src', res.profile_img);
						}
					})
				}
			}
		});
		$('.plus').on('click', function () {
			$('input:file').click();
		});
		$('input:file').change(function (e) {
			var file = event.target.files[0];
			var reader = new FileReader();
			reader.onload = function (e) {
				uploadCrop.croppie('bind', {
					url: e.target.result
				})
				$('.crop-container').css('display', 'block');
			}
			reader.readAsDataURL(file);
		})
		$('.btn-crop').on('click', function () {
			uploadCrop.croppie('result', {
				type: 'base64'
			}).then(function (g) {
				$('.avatar').attr('src', g);
				$('.crop-container').css('display', 'none');
			});
		})
	});
</script>
